.event-box {
  border: 2px solid black;
  padding: 20px;
  border-radius: 10px;
}
.image-box {
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  height: 200px;
  width: 300px;
}
.event-image {
  /* max-width: 100%; */
  height: auto;
  width: 300px;
  border-radius: 10px;
}
